
.aboutdivleft {

  margin-left: 20%;

  text-shadow: 0px 4px 4px #282828

}



.aboutimg {
  max-width: 100%;
  max-height: 100%;
  width: 425px;
  height: 600px;

}

.aboutdivright {

  margin: 10%;

}

.aboutheader {

  font-size: 40px;

  text-align: center;

  color: black;

  text-shadow:0px 4px 4px dimgray;

}



.aboutpara {

  border: 2px;

  border-color:black;

  border-style: solid;

  border-radius: 25px;

  outline-width: 3px;

  color: dimgray;

  background-color: white;
  
  padding: 5%;

  font-size: 25px;

}​

